{% extends 'base.html'%}

{% block title%}
    Recipe Creation
{% endblock title%}

{% block content%}
    <header>
        <nav>
            <div>
                <a  href="{% url 'recipe_list' %}">Main Page</a>
                <a  href="{% url 'create_recipes' %}">Create New</a>
            </div>
        </nav>
    </header>
    <main>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
        </form>
    </main>
{% endblock content%}

{% comment %} {% load static %}
<!DOCTYPE html>

<html>

<head>
    <title>Recipe Creation</title>
    <link rel="stylesheet" type="text/css" href="{% static "css\recipes.css" %}">
</head>

<body>

</body>

</html> {% endcomment %}
