{% extends 'base.html' %}

{% block title %}
    {{ recipe_object.title }}-Scrumptious Recipes
{% endblock title %}

{% block content %}
    <header>
        <nav>
            <div>
                <a  href="{% url 'recipe_list' %}">Main Page</a>
                <a  href="{% url 'create_recipes' %}">Create New</a>
                <a  href="{% url 'edit_recipe' recipe_object.id %}">Edit</a>
            </div>
        </nav>
    </header>
    <main>
        <h1>{{ recipe_object.title}}</h1>
        <div>
            <img class="detail-img" src="{{ recipe_object.picture}}" alt=" {{ recipe_object.picture_alt_text}} ">
            <div class="rating">4.3 stars</div>
            <p> Added on {{recipe_object.created_on|date:"F j, o"}}</p>
            <p>
                {{recipe_object.description}}
            </p>
        </div>
        <h2>Ingredients</h2>
        <table>
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Food Item</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1 cup</td>
                    <td>Green Beans</td>
                </tr>
                <tr>
                    <td>3 ears</td>
                    <td>Fresh corn</td>
                </tr>
                <tr>
                    <td>2 cups</td>
                    <td>Tomatillo salsa</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>corn tortillas</td>
                </tr>
                <tr>
                    <td>0.5 cups</td>
                    <td>Cojita cheese</td>
                </tr>
            </tbody>
        </table>
        <h2>Steps</h2>
        <ol>
            <li>Blanch the green beans</li>
            <li>Grill the green beans and the ears of corn</li>
            <li>Chop the green beans</li>
            <li>Slice the corn off the cob</li>
            <li>Grill the tortillas</li>
            <li>Assemble the tacos with the veggies, salsa, and cheese</li>
        </ol>
    </main>
{% endblock content %}

{% comment %} {% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{{ recipe_object.title }}-Scrumptious Recipes</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/recipes.css" %}">
</head>

<body>

    <footer>
        <div>Made with love by Scrumptious Recipes</div>
    </footer>
</body>

</html> {% endcomment %}
