{% extends 'base.html' %}

{% block title %}
    Recipe {{object.title}}
{% endblock title %}

{% block content %}
    <header>
        <nav>
            <div>
                <a  href="{% url 'recipe_list' %}">Main Page</a>
                <a  href="{% url 'create_recipes' %}">Create New</a>
            </div>
        </nav>
    </header>
    <main>
        <h1>Edit {{object.title}}</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Change</button>
        </form>
    </main>
{% endblock content %}


{% comment %} {% load static %}
<!DOCTYPE html>

<html>

<head>
    <title>Recipe {{object.title}}</title>
    <link rel="stylesheet" type="text/css" href="{% static "css\recipes.css" %}">
</head>

<body>

</body>

</html> {% endcomment %}
