{% extends 'base.html' %}

{% block title %}
    Scrumptious Recipes
{% endblock title %}

{% block content %}
<header>
    <nav>
        <div><a  href="{% url 'recipe_list' %}">Main Page</a></div>
        <div><a  href="{% url 'create_recipes' %}">Create New</a></div>
    </nav>
</header>
<main>
    <h1>Scrumptious Recipes</h1>
    <h2>All the food that's fit to eat</h2>
    <div class="list">
        {% for recipe in list_recipes %}
        <div class="recipe {% cycle 'odd' 'even' %}">
            <h3>
                <a href="{% url 'show_recipe' recipe.id %}">{{recipe.title}}</a>
            </h3>
            <img src="{{recipe.picture}}" alt="{{recipe.picture_alt_text}}">
            <div class="rating">4.3 stars</div>
            <p>Added on {{recipe.created_on|date:"F j, o"}}</p>
            <p>
                {{recipe.description}}
            </p>
        </div>
        {% empty %}
            <p>There are no recipes.</p>
        {% endfor %}
    </div>
</main>
{% endblock content %}

{% comment %} {% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrumptious Recipes</title>
    <link rel="stylesheet" type="text/css" href="{% static "css\recipes.css" %}">
</head>

<body>
</body>

</html> {% endcomment %}
