@import url('https://fonts.googleapis.com/css2?family=Mate+SC&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mate SC', 'Times New Roman', serif;
    background-color: rgb(248, 255, 228);
    display: flex;
    flex-direction: column;
}

nav {
    display: grid;
    grid-template-columns: auto auto 1fr;
    border-bottom: 2px solid #146152;
    padding: 6px;
    background-color: #FF5A33;
}

nav div {
    height: 100%;
}

nav div :not(:hover) {
    padding: 3px;
}

nav a:hover {
    border: outset;
}

a {
    text-decoration: none;
    color: #B4CF66;
}

a:hover {
    color: #146152;
    cursor: pointer;
}

main {
    padding: 16px;
    margin-bottom: 10px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #44803F;
}

div {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}

.recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.recipe:hover a {
    border: outset;
}

div.odd {
    background-color: #44803F;
    color: #B4CF66;
}

div.even {
    background-color: #B4CF66;
    color: #44803F;
}

div.odd a {
    color: #B4CF66;
}

div.even a {
    color: #44803F;
}

h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

img {
    height: 200px;
    width: 200px;
}

.detail-img {
    height: 200px;
    width: 200px;
    transition: .5s;
}

.detail-img:hover {
    margin-left: 100px;
    margin-top: 100px;
    transform: scale(2);
}

.rating {
    align-self: center;
}

table {
    border-collapse: collapse;
    margin-bottom: 16px;
}

thead {
    background-color: #146152;
    color: white;
}

tbody tr:nth-child(odd) {
    background-color: #B4CF66;
}

ol {
    margin: 10px;
    padding-left: 32px;
}

footer {
    justify-self: flex-end;
    padding: 28px;
    width: 100%;
    background-color: #B4CF66;
}
